@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap");

body {
	margin: 0;
	padding: 0;
	background-color: hsl(221, 100%, 96%);
	font-family: "Hanken Grotesk", sans-serif;
	font-weight: 500;
}

.main {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.left-container {
	background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
	width: 20rem;
	height: 28rem;
	border-radius: 30px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	box-sizing: border-box;
}

.result {
	color: hsl(241, 100%, 89%);
	font-weight: 700;
	font-size: 1.3rem;
	margin-top: -2rem;
}

.circle {
	background-image: linear-gradient(
		hsla(256, 72%, 46%, 0.7),
		hsla(241, 72%, 46%, 0.1)
	);
	border-radius: 50%;
	width: 9rem;
	height: 9rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.bigNumber {
	font-weight: 800;
	font-size: 4rem;
	color: hsl(0, 0%, 100%);
}

.smallText {
	font-weight: 500;
	font-size: 0.9rem;
	color: hsl(241, 100%, 89%);
}

.great {
	color: hsl(0, 0%, 100%);
	font-weight: 700;
	font-size: 1.6rem;
	text-align: center;
}

.left-container p {
	color: hsl(241, 100%, 89%);
	text-align: center;
	font-size: 0.9rem;
}

.right-container {
	background-color: hsl(0, 0%, 100%);
	width: 20rem;
	height: 28rem;
	padding: 2rem;
	border-radius: 30px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	box-sizing: border-box;
	gap: 1rem;
}

.summary {
	color: hsl(224, 30%, 27%);
	font-weight: 700;
	font-size: 1.3rem;
}

.right-container span {
	color: hsla(225, 0%, 0%, 0.5);
}

.reaction {
	display: flex;
	gap: 0.7rem;
	background-color: hsla(0, 100%, 67%, 0.1);
	border-radius: 10px;
	padding: 1rem;
	box-sizing: border-box;
}

.reaction-text {
	color: hsl(0, 100%, 67%);
}

.reaction-marks {
	margin-left: auto;
}

.memory {
	display: flex;
	gap: 0.7rem;
	background-color: hsla(39, 100%, 56%, 0.1);
	border-radius: 10px;
	padding: 1rem;
	box-sizing: border-box;
}

.memory-text {
	color: hsl(39, 100%, 56%);
}

.memory-marks {
	margin-left: auto;
}

.verbal {
	display: flex;
	gap: 0.7rem;
	background-color: hsla(166, 100%, 37%, 0.1);
	border-radius: 10px;
	padding: 1rem;
	box-sizing: border-box;
}

.verbal-text {
	color: hsl(166, 100%, 37%);
}

.verbal-marks {
	margin-left: auto;
}

.visual {
	display: flex;
	gap: 0.7rem;
	background-color: hsla(234, 85%, 45%, 0.1);
	border-radius: 10px;
	padding: 1rem;
	box-sizing: border-box;
}

.visual-text {
	color: hsl(234, 85%, 45%);
}

.visual-marks {
	margin-left: auto;
}

.continue {
	background-color: hsl(224, 30%, 27%);
	border-radius: 25px;
	padding: 1rem;
	color: hsl(0, 0%, 100%);
	border: none;
	font-size: 1.1rem;
}

.continue:hover {
	background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
}

@media only screen and (max-width: 700px) {
	.main {
		flex-direction: column;
		height: auto;
	}
}
